page-contacto {

}
.social{
    font-size: 1.6em;
    color: #fff;
}
.send{
    margin-top: 4em;
}


.container-contact {
    & > .scroll-content {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        & > .form-control {
            width: calc(100% - 32px);

            & > form > .item-md {
                background-color: transparent !important;
                padding-left: 0 !important;
            }
        }
    }
}