
.container-radio {
    & > .scroll-content {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &  .info-radio {

            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .info-radio {
            &-song {
                font-size: 2.6rem;
                margin-bottom: 1.6rem;
            }
            &-author {
                font-size: 1.8rem;
                font-weight: 400;
                opacity: 0.5;
            }
        }

        button.action-radio {
            border-radius: 100%;
            padding: none;
            height: 6.8rem;
            width: 6.8rem;
            font-size: 2rem;
        }
    }
}